{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "promise",
    "sonarjs",
    "prettier"
  ],
  "rules": { "prefer-const": "error", "prettier/prettier": "error" },
  "overrides": [
    {
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "files": ["tests/**/*.ts", "tests/**/*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "env": { "node": true, "jest": true }
    },
    {
      "files": ["tests/**/*.js", "tests/**/*.jsx"],
      "extends": [],
      "env": { "node": true, "jest": true }
    },
    {
      "files": ["server/**/*.js"],
      "extends": [],
      "env": { "node": true, "commonjs": true }
    },
    {
      "files": ["src/**/*.ts"],
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    },
    {
      "files": [
        "config/**/*.js",
        "babel.config.js",
        "tailwind.config.js",
        "postcss.config.js"
      ],
      "env": { "commonjs": true, "node": true }
    }
  ]
}
