{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": { "prefer-const": "error" },
  "overrides": [
    {
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "files": ["tests/**/*.ts", "tests/**/*.tsx"],
      "extends": [],
      "env": { "node": true, "jest": true }
    },
    {
      "files": ["server/**/*.js"],
      "extends": [],
      "env": { "node": true, "commonjs": true }
    },
    {
      "files": ["src/**/*.ts"],
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    },
    {
      "files": [
        "config/**/*.js",
        "babel.config.js",
        "tailwind.config.js",
        "postcss.config.js"
      ],
      "env": { "commonjs": true, "node": true }
    }
  ]
}
