{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:promise/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "promise",
    "sonarjs",
    "prettier"
  ],
  "rules": {
    "prefer-const": "error"
  },
  "overrides": [
    /**
     * CLIENT SIDE CODE
     */
    {
      "files": ["src/**/*.tsx?"],
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "rules": {
        "react/prop-types": "off",
        "react/no-children-prop": "off"
      },
      "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier/react"
      ]
    },
    /**
     * SERVER SIDE CODE
     */
    {
      "files": [
        "config/**/*.js",
        "babel.config.js",
        "tailwind.config.js",
        "postcss.config.js",
        "server/**/*.js"
      ],
      "env": { "commonjs": true, "node": true }
    },
    /**
     * TYPESCRIPT CODE
     */
    {
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "files": ["{tests,src}/**/*.tsx?"],
      "extends": [
        "prettier/@typescript-eslint",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/no-explicit-any": "off"
      }
    },
    /**
     * TESTS
     */
    {
      "files": [
        "tests/**/*.js",
        "tests/**/*.jsx",
        "tests/**/*.tsx",
        "tests/**/*.ts"
      ],
      "extends": [],
      "env": { "node": true, "jest": true }
    }
  ]
}
